.categories {
    display: flex;
    border-color: transparent;
    border-style: solid;
    border-width: 0;
    border-bottom-width: 4px;
    align-items: center;
    margin: 0;
    padding: 20px;
    color: #fff;
    height: 99px;
}

.start-page h2 {
    color: white;
    font-stretch: narrower;
    font-family: Light;
    font-size: 3rem;
    line-height: 1.5rem;
    font-weight: 200;
    position: absolute;
}

.start-page h2 {
    margin-top: 10.5rem;
    margin-left: 10.5rem;
}
.recent-new-cars h2 {
    font-size: 2rem;
    margin-top: 15.5rem;
    margin-left: 2.5rem;
}

.start-page h3 {
    margin-top: 13.5rem;
    margin-left: 10.5rem;
}

.recent-new-cars {
    max-width: 1680px;
    max-height: 377px;
    display: flex;
    grid-template-areas: "grid-template-1" "grid-template-2";
    grid-gap: 5px;
}

.recent-new-car-1 {
    grid-area: grid-template-1;
}

.recent-new-car-2 {
    grid-area: grid-template-2;
}
