<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="~/css/StyleHome.css" />
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
</head>

<div class="start-page">
    <h2>THE 4</h2>
    <h3>НОВЫЙ BMW 4 СЕРИИ GRAN COUPE</h3>
    <img src="/img/startImage.jpg" style="width:100%;height:100%;" />
    <div class="recent-new-cars">
        <div class="recent-new-car-1">
            <h2>THE X3</h2>
            <img src="/img/thex3image.jpg" style="width:100%;height:100%;" />
        </div>
        <div class="recent-new-car-2">
            <h2>THE X4</h2>
            <img src="/img/thex4image.jpg" style="width:100%;height:100%;" />
        </div>
    </div>
</div>